# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Data (Optional, depending on if you want to track data)
data/processed/
temp/
